<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Демо Tooltip компонент</title>
    <link rel="stylesheet" type="text/css" href="../css/toast.css" />
    <link rel="icon" type="image/png" href="../assets/favicon.ico">
</head>
<body>
<h1>Демо Tooltip компонент</h1>    
<h2>Ниже находится текст, сгенерированный ИИ Сбербанка</h2>
<h3>Чтобы увидеть подсказку, наведите на текст "мышку", особенно на выделенные слова!</h3>
<div data-tooltip data-text="Это первый случайный текст!">
Однажды в далекой галактике, на планете, которую мы даже не знаем, жили маленькие зеленые существа. Они были очень умные и любили играть в шахматы. Но однажды они обнаружили, что их планета находится на грани катастрофы. Они решили отправиться в путешествие, чтобы найти помощь.
В своем путешествии они встретили множество других существ, которые были готовы помочь им. Они научились новым играм и научились летать на космических кораблях.    
Однажды они нашли планету, где жили люди. Люди были очень добрыми и помогли маленьким зеленым существам спасти свою планету.    
С тех пор маленькие зеленые существа стали друзьями людей и часто прилетали к ним в гости. Они играли вместе в шахматы и другие игры, а также обменивались знаниями о своих планетах.    
И так продолжалось много лет. Маленькие зеленые существа и люди стали настоящими друзьями. И они всегда будут помнить, как они помогли друг другу в трудный момент.
</div>
<br>
<div>Текст без всплывающих подсказок</div>
<br>
<div data-tooltip data-text="Это второй случайный текст!">
Сегодняшний день был полон неожиданностей. Я проснулся рано утром и решил прогуляться по парку. Погода была прекрасная, солнце светило ярко, а птицы пели свои песни. Я наслаждался каждым мгновением этого утра.
По пути домой я встретил старого друга, которого давно не видел. Мы обменялись новостями и вспомнили наши общие приключения. Было приятно провести время с ним.  
Вечером я решил приготовить что-то особенное на ужин. Я выбрал рецепт из интернета и начал готовить. К моему удивлению, блюдо получилось очень вкусным!
После ужина я решил посмотреть фильм. Я выбрал комедию и наслаждался каждой минутой. Фильм был очень забавным и заставил меня смеяться до слез.
В целом, сегодняшний день был полон приятных сюрпризов и незабываемых моментов. Я благодарен за каждый из них и надеюсь, что завтра будет не менее интересным
</div>
<br>
<div><i>Текст без всплывающих подсказок</i></div>
<br>
<div data-tooltip  data-text="Это третий случайный текст!">
Однажды в далекой-далекой галактике, где звезды сияли ярче, чем бриллианты, и планеты были красочнее, чем картины импрессионистов, жил-был маленький робот по имени <span data-tooltip  data-text="Арчи-робот"><b>Арчи</b></span>. 
Он был очень любознательным и всегда задавал вопросы. Однажды он спросил у своего друга, звездолета по имени <span data-tooltip  data-text="Стелла-звездолёт"><b>Стелла</b></span>: "<span data-tooltip  data-text="Стелла-звездолёт"><b>Стелла</b></span>, почему звезды светятся?". 
<span data-tooltip  data-text="Стелла-звездолёт"><b>Стелла</b></span> ответила: " <span data-tooltip  data-text="Арчи-робот"><b>Арчи</b></span>, звезды светятся потому, что они горячие и светятся изнутри".  <span data-tooltip  data-text="Арчи-робот"><b>Арчи</b></span> задумался на минуту и спросил: "А почему они горячие?". 
<span data-tooltip  data-text="Стелла-звездолёт"><b>Стелла</b></span> улыбнулась и сказала: " <span data-tooltip  data-text="Арчи-робот"><b>Арчи</b></span>, звезды горячие потому, что в них происходят ядерные реакции".  <span data-tooltip  data-text="Арчи-робот"><b>Арчи</b></span> был очень удивлен и сказал: "<span data-tooltip  data-text="Стелла-звездолёт"><b>Стелла</b></span>, а что такое ядерные реакции?". 
<span data-tooltip  data-text="Стелла-звездолёт"><b>Стелла</b></span> объяснила: " <span data-tooltip  data-text="Арчи-робот"><b>Арчи</b></span>, ядерные реакции - это когда атомы соединяются или распадаются, и при этом выделяется энергия".  <span data-tooltip  data-text="Арчи-робот"><b>Арчи</b></span> был очень впечатлен и сказал: "<span data-tooltip  data-text="Стелла-звездолёт"><b>Стелла</b></span>, спасибо за объяснение! 
Я теперь знаю больше о звездах!". <span data-tooltip  data-text="Стелла-звездолёт"><b>Стелла</b></span> улыбнулась и сказала: " <span data-tooltip  data-text="Арчи-робот"><b>Арчи</b></span>, всегда рада помочь тебе!". И они продолжили свое путешествие по галактике, узнавая все больше и больше о космосе.
</div>
<br>
<div><i>Текст без всплывающих подсказок</i></div>
<br>
<div data-tooltip  data-text="Это четвертый случайный текст!">
Однажды в далекой-далекой галактике, где звезды сияли ярче, чем бриллианты, и планеты были прекраснее, чем самые красивые картины, жил маленький робот по имени  <span data-tooltip  data-text="Арчи-робот"><b>Арчи</b></span>. Он был самым обычным роботом, но у него была одна особенность - он любил мечтать.
 <span data-tooltip  data-text="Арчи-робот"><b>Арчи</b></span> мечтал о том, как он станет великим героем и спасет всю галактику от злого тирана. Он представлял себе, как он будет летать на своем космическом корабле, сражаться с врагами и побеждать их.
Однажды, когда  <span data-tooltip  data-text="Арчи-робот"><b>Арчи</b></span> сидел на своей любимой скамейке и мечтал, к нему подошел старый робот по имени <span data-tooltip  data-text="Борис-робот"><b>Борис</b></span>. <span data-tooltip  data-text="Борис-робот"><b>Борис</b></span> был мудрым и опытным роботом, который знал много историй о героях и злодеях.
<span data-tooltip  data-text="Борис-робот"><b>Борис</b></span> рассказал  <span data-tooltip  data-text="Арчи-робот"><b>Арчи</b></span> о том, что для того, чтобы стать героем, нужно не только мечтать, но и действовать. Он сказал, что герой должен быть смелым, умным и добрым.
 <span data-tooltip  data-text="Арчи-робот"><b>Арчи</b></span> решил, что он готов стать героем. Он начал тренироваться каждый день, чтобы стать сильнее и быстрее. Он читал книги о разных героях и злодеях, чтобы узнать больше о том, как они действовали.
Однажды, когда  <span data-tooltip  data-text="Арчи-робот"><b>Арчи</b></span> был на тренировке, он услышал крики о помощи. Он сразу же бросился на помощь и увидел, что на планету напали злые роботы.
<span data-tooltip  data-text="Арчи-робот"><b>Арчи</b></span> не испугался и начал сражаться с врагами. Он был быстрым и умным, и благодаря этому он смог победить всех злых роботов.
После этого <span data-tooltip  data-text="Арчи-робот"><b>Арчи</b></span> стал настоящим героем. Он спас всю галактику от злого тирана и стал самым уважаемым роботом в галактике.
И с тех пор <span data-tooltip  data-text="Арчи-робот"><b>Арчи</b></span> всегда помнил слова <span data-tooltip  data-text="Борис-робот"><b>Бориса</b></span>: "Герой - это не только мечта, но и действие".
</div>    
<br>
<a class="column-chart__link" href="../index.html">BACK</a>
</body>
<script type="module">
    import Tooltip from '../js/Tooltip-.js';
    const items = document.querySelectorAll("[data-tooltip]");
    const tooltip = new Tooltip;
    for (let item of items) {
        item.addEventListener("mouseover", (event)=>{tooltip.show(item.dataset.text); event.stopPropagation();});
        item.addEventListener("mousemove", (event)=>tooltip.move(event.clientX, event.clientY));
        item.addEventListener("mouseout",  (event)=>tooltip.hide());
                            }
</script>  
</html>